<div class="navbar">
  <!-- Logo -->
  <img class="parsley-logo" src="../../../assets/parsley-logo.svg" alt="Joe Parsley Logo"/>

  <!-- Nav Button -->
  <div class="btn-wrapper">
    <button mat-raised-button [matMenuTriggerFor]="menu" color="primary">Menu</button>
    <mat-menu #menu="matMenu" class="dropdown-menu">
      <button mat-menu-item>
        LinkedIn
        <i class="fab fa-linkedin nav-icon"></i>
      </button>
      <button mat-menu-item>
        GitHub
        <i class="fab fa-github nav-icon"></i>
      </button>
      <button mat-menu-item>
          Resume
          <i class="fas fa-file-alt nav-icon"></i>
        </button>
    </mat-menu>
  </div>
</div>
