@import "../../../scss/vars";
@import "../../../scss/mixins";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
}

.parsley-logo {
  @include size(65px);
}

.nav-icon {
  margin-left: 10px;
}