<div class="navbar">
  <!-- Logo -->
  <img class="parsley-logo" src="../../../assets/logo.svg" alt="Joe Parsley Logo"/>
  <!-- Desktop Nav Lnks -->
  <div class="desktop-nav">
    <a *ngFor="let link of navLinks" 
        class="nav-link" 
        href="{{link.href}}"
        target="_blank" 
        [attr.download]="link.download ? '' : null">
      {{link.title}}
      <i class="{{link.icon}} desktop-nav-icon"></i>
    </a>
  </div>
  <!-- Mobile Nav Links -->
  <div class="mobile-nav">
    <button class="mobile-btn" mat-raised-button [matMenuTriggerFor]="menu" color="primary">
      <i class="fas fa-bars"></i>
    </button>
    <mat-menu #menu="matMenu" class="dropdown-menu">
      <a *ngFor="let link of navLinks" 
          class="menu-item" 
          href="{{link.href}}"
          target="_blank" 
          mat-menu-item 
          [attr.download]="link.download ? '' : null">
        {{link.title}}
        <i class="{{link.icon}} mobile-nav-icon"></i>
      </a>
    </mat-menu>
  </div>
</div>
