@import "../../../scss/vars";
@import "../../../scss/mixins";

.navbar {
  border: $tb-red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.parsley-logo {
  @include size(75px);
}