@import "../../../scss/vars";
@import "../../../scss/mixins";
// Hero Wrapper
.hero-wrapper {
  height: 300px;
  background-image: url('../../../assets/banner.jpg');
  background-size: cover;
  @include respond-to($tablet-sm) {
    background-attachment: fixed;
  }
  @include respond-to($tablet-md) {
    height: 400px;
  }
  @include respond-to($tablet-lg) {
    height: 500px;
  }
}
// Overlay and Hero Text
.overlay {
  @include size(100%);
  background-color: rgba(0,0,0,.2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-text {
  color: white;
  font-size: 20px;
  line-height: 24px;
  width: 90%;
  text-align: center;
  margin-top: 75px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
  @include respond-to($phone-lg) {
    font-size: 24px;
    line-height: 28px;
  }
  @include respond-to($tablet-sm) {
    font-size: 26px;
    line-height: 30px;
  }
  @include respond-to($tablet-md) {
    font-size: 30px;
    line-height: 34px;
  }
  @include respond-to($tablet-lg) {
    font-size: 34px;
    line-height: 38px;
  }
  @include respond-to($desktop-sm) {
    font-size: 40px;
    line-height: 44px;
  }
}
// Project Wrapper, Header and Grid Styles
.project-wrapper {
  width: 100%;
}
.project-header {
  padding: 20px;
  color: $accent-dark;
  font-size: 20px;
  text-align: left;
  @include respond-to($phone-lg) {
    font-size: 22px;
  }
  @include respond-to($tablet-sm) {
    font-size: 26px;
  }
  @include respond-to($tablet-md) {
    font-size: 30px;
  }
  @include respond-to($tablet-lg) {
    font-size: 32px;
  }
  @include respond-to($desktop-sm) {
    font-size: 34px;
  }
}
.project-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  @include respond-to($tablet-md) {
    grid-template-columns: 50% 50%;
  }
}
.project-card-wrapper {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.card {
  border-radius: 10px;
  width: 100%;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.50);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.50); 
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.50);
  background-position: top;
  background-size: cover;
  height: 300px;
}
.overlay-content {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, .7);
  transition: all .4s ease-in-out;
  opacity: 0;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  &:hover {
    opacity: 1;
  }
}
.card-header {
  font-size: 20px;
  text-align: center;
  padding: 20px 10px 10px 10px;
  color: white;
  @include respond-to($phone-lg) {
    font-size: 22px;
  }
  @include respond-to($tablet-sm) {
    font-size: 24px;
  }
  @include respond-to($tablet-md) {
    font-size: 28px;
  }
  @include respond-to($tablet-lg) {
    font-size: 30px;
  }
  @include respond-to($desktop-sm) {
    font-size: 32px;
  }
}
.card-content {
  font-size: 12px;
  line-height: 14px;
  text-align: left;
  padding: 10px;
  color: white;
  @include respond-to($phone-lg) {
    font-size: 14px;
    line-height: 16px;
    padding: 20px;
  }
  @include respond-to($tablet-sm) {
    font-size: 16px;
    line-height: 18px;
  }
  @include respond-to($tablet-md) {
    font-size: 14px;
    line-height: 16px;
  }
  @include respond-to($tablet-lg) {
    font-size: 16px;
    line-height: 18px;
  }
}
.card-action {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  @include respond-to($tablet-sm) {
    justify-content: flex-start;
    padding: 20px;
  }
  @include respond-to($tablet-md) {
    padding: 20px 60px;
  }
  .card-btn:nth-of-type(even) {
    margin-left: 20px;
  }
}
.card-btn {
  padding: 10px 20px;
  background-color: $primary-dark;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  text-align: center;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  &:hover {
    -webkit-box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    -moz-box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background-color: $accent;
  }
  i {
    font-size: 20px;
  }
}
// Skills Wrapper, Header and Grid Styles
.skill-wrapper {
  width: 100%;
}
.skill-header {
  padding: 20px;
  color: $accent-dark;
  font-size: 20px;
  text-align: left;
  @include respond-to($phone-lg) {
    font-size: 22px;
  }
  @include respond-to($tablet-sm) {
    font-size: 26px;
  }
  @include respond-to($tablet-md) {
    font-size: 30px;
  }
  @include respond-to($tablet-md) {
    font-size: 32px;
  }
  @include respond-to($tablet-lg) {
    font-size: 34px;
  }
}
.skill-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
}
.skill-section {
  padding: 20px;
}
.skill-content-header {
  font-size: 20px;
  color: $primary-dark;
  padding: 20px 0;
  border-bottom: 1px solid $accent;
  @include respond-to($phone-lg) {
    font-size: 22px;
  }
  @include respond-to($tablet-sm) {
    font-size: 26px;
  }
  @include respond-to($tablet-md) {
    font-size: 30px;
  }
  @include respond-to($tablet-md) {
    font-size: 32px;
  }
  @include respond-to($tablet-lg) {
    font-size: 34px;
  }
}
.skill-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  @include respond-to($tablet-sm) {
    justify-content: flex-start;
  }
}
.skill-item {
  @include size(80px);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include respond-to($phone-lg) {
    @include size(100px);
  }
  @include respond-to($tablet-md) {
    @include size(125px);
    padding: 0 20px;
  }
  @include respond-to($tablet-lg) {
    @include size(150px);
  }
}
.skill-icon {
  margin-bottom: 10px;
  font-size: 30px;
  color: $accent-dark;
  @include respond-to($phone-lg) {
    font-size: 40px;
  }
  @include respond-to($tablet-lg) {
    font-size: 50px;
    margin-bottom: 20px;
  }
  @include respond-to($desktop-md) {
    font-size: 60px;
  }
}
.skill-text {
  font-size: 14px;
  line-height: 18px;
  color: $primary-dark;
  text-align: center;
  @include respond-to($tablet-sm) {
    font-size: 16px;
    line-height: 20px;
  }
  @include respond-to($tablet-lg) {
    font-size: 18px;
    line-height: 22px;
  }
}
// About Me Wrapper, Content, Image and Bio Styles
.about-me-wrapper {
  background-image: url('../../../assets/banner.jpg');
  background-size: cover;
  @include respond-to($tablet-sm) {
    background-attachment: fixed;
  }
}
.about-overlay {
  @include size(100%);
  background-color: rgba(0,0,0,.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-me-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.about-header {
  text-align: center;
  padding: 20px 0; color: white;
  font-size: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
  @include respond-to($phone-lg) {
    font-size: 22px;
  }
  @include respond-to($tablet-sm) {
    font-size: 24px;
  }
  @include respond-to($tablet-md) {
    font-size: 28px;
  }
  @include respond-to($tablet-md) {
    font-size: 30px;
  }
  @include respond-to($tablet-lg) {
    font-size: 32px;
  }
}
.about-img {
  width: 125px;
  border-radius: 50%; 
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 4px 20px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 20px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 20px 1px rgba(0,0,0,0.75);
  @include respond-to($phone-lg) {
    width: 150px;
  }
  @include respond-to($tablet-md) {
    width: 250px;
  }
}
.about-bio {
  font-size: 14px;
  line-height: 18px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
  text-align: center;
  @include respond-to($tablet-md) {
    padding: 0 40px;
    font-size: 18px;
    line-height: 26px;
  }
}
.contact-wrapper {
  padding: 40px 20px;
  text-align: center;
  font-size: 20px;
  color: $accent-dark;
  @include respond-to($phone-lg) {
    font-size: 24px;
  }
  @include respond-to($tablet-sm) {
    font-size: 26px;
    padding: 60px 20px;
  }
  @include respond-to($tablet-md) {
    font-size: 30px;
    padding: 80px 20px;
  }
  @include respond-to($tablet-lg) {
    font-size: 34px;
    padding: 100px 20px;
  }
  @include respond-to($desktop-sm) {
    font-size: 40px;
  }
  a {
    color: $primary;
    display: inline-block;
    cursor: pointer;
    margin-top: 20px;
    &:hover {
      color: grey;
      text-decoration: none;
    }
  }
}

// Icon Classes
.html5-icon {
  @include custom-icon('../../../assets/html5.png');
}
.jsx-icon {
  @include custom-icon('../../../assets/react.png');
}
.jekyll-icon {
  @include custom-icon('../../../assets/jekyll.svg');
}
.css3-icon {
  @include custom-icon('../../../assets/css3.png');
}
.sass-icon {
  @include custom-icon('../../../assets/sass.png');
}
.bootstrap-icon {
  @include custom-icon('../../../assets/bootstrap.png');
}
.materialize-icon {
  @include custom-icon('../../../assets/materialize.png');
}
.angular-material-icon {
  @include custom-icon('../../../assets/angular.png');
}
.js-icon {
  @include custom-icon('../../../assets/javascript.png');
}
.ts-icon {
  @include custom-icon('../../../assets/ts.png');
}
.react-icon {
  @include custom-icon('../../../assets/react.png');
}
.angular-icon {
  @include custom-icon('../../../assets/angular.png');
}
.jquery-icon {
  @include custom-icon('../../../assets/jquery.png');
}
.ionic-icon {
  @include custom-icon('../../../assets/ionic.png');
}
.node-icon {
  @include custom-icon('../../../assets/nodejs.png');
}
.sketch-icon {
  @include custom-icon('../../../assets/sketch.png');
}
.git-icon {
  @include custom-icon('../../../assets/git.png');
}
.npm-icon {
  @include custom-icon('../../../assets/npm.png');
}

