@import "../../../scss/vars";
@import "../../../scss/mixins";
// Hero Wrapper
.hero-wrapper {
  height: 300px;
  background-image: url('../../../assets/banner.jpg');
  background-size: cover;
  @include respond-to($tablet-sm) {
    background-attachment: fixed;
  }
  @include respond-to($tablet-md) {
    height: 400px;
  }
  @include respond-to($tablet-lg) {
    height: 500px;
  }
}
// Overlay and Hero Text
.overlay {
  @include size(100%);
  background-color: rgba(0,0,0,.2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-text {
  color: white;
  font-size: 20px;
  line-height: 24px;
  width: 90%;
  text-align: center;
  margin-top: 75px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
  @include respond-to($phone-lg) {
    font-size: 24px;
    line-height: 28px;
  }
  @include respond-to($tablet-sm) {
    font-size: 26px;
    line-height: 30px;
  }
  @include respond-to($tablet-md) {
    font-size: 30px;
    line-height: 34px;
  }
  @include respond-to($tablet-lg) {
    font-size: 34px;
    line-height: 38px;
  }
  @include respond-to($desktop-sm) {
    font-size: 40px;
    line-height: 44px;
  }
}

// Project Wrapper, Header and Grid Styles
.project-wrapper {
  width: 100%;
}
.project-header {
  padding: 20px;
  color: $accent-dark;
  font-size: 20px;
  text-align: left;
  @include respond-to($phone-lg) {
    font-size: 22px;
  }
  @include respond-to($tablet-sm) {
    font-size: 24px;
  }
  @include respond-to($tablet-md) {
    font-size: 28px;
  }
  @include respond-to($tablet-lg) {
    font-size: 30px;
  }
  @include respond-to($desktop-sm) {
    font-size: 32px;
  }
}
.project-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  @include respond-to($tablet-md) {
    grid-template-columns: 50% 50%;
  }
}
.project-card {
  box-sizing: border-box;
  border: 1px solid $accent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  .test {
    background-color: $primary;
    height: 300px;
    width: 100%;
  }
}
// Skills Wrapper, Header and Grid Styles
.skill-wrapper {
  width: 100%;
}
.skill-header {
  padding: 20px;
  color: $accent-dark;
  font-size: 20px;
  text-align: left;
  @include respond-to($phone-lg) {
    font-size: 22px;
  }
  @include respond-to($tablet-sm) {
    font-size: 24px;
  }
  @include respond-to($tablet-md) {
    font-size: 28px;
  }
  @include respond-to($tablet-md) {
    font-size: 30px;
  }
  @include respond-to($tablet-lg) {
    font-size: 32px;
  }
}
.skill-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
}
.skill-section {
  border: 1px solid $accent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  .skill-content {
    background-color: $primary;
    height: 100px;
    width: 100%;
  }
}
// About Me Wrapper, Content, Image and Bio Styles
.about-me-wrapper {
  background-image: url('../../../assets/banner.jpg');
  background-size: cover;
  @include respond-to($tablet-sm) {
    background-attachment: fixed;
  }
}
.about-overlay {
  @include size(100%);
  background-color: rgba(0,0,0,.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-me-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.about-header {
  text-align: center;
  padding: 20px 0; color: white;
  font-size: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
  @include respond-to($phone-lg) {
    font-size: 22px;
  }
  @include respond-to($tablet-sm) {
    font-size: 24px;
  }
  @include respond-to($tablet-md) {
    font-size: 28px;
  }
  @include respond-to($tablet-md) {
    font-size: 30px;
  }
  @include respond-to($tablet-lg) {
    font-size: 32px;
  }
}
.about-img {
  width: 125px;
  border-radius: 50%; 
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 4px 20px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 20px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 20px 1px rgba(0,0,0,0.75);
  @include respond-to($phone-lg) {
    width: 150px;
  }
  @include respond-to($tablet-md) {
    width: 250px;
  }
}
.about-bio {
  font-size: 14px;
  line-height: 18px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
  text-align: center;
  @include respond-to($tablet-md) {
    padding: 0 40px;
    font-size: 18px;
    line-height: 26px;
  }
}
.contact-wrapper {
  padding: 40px 20px;
  text-align: center;
  font-size: 20px;
  color: $accent-dark;
  @include respond-to($phone-lg) {
    font-size: 24px;
  }
  @include respond-to($tablet-sm) {
    font-size: 26px;
    padding: 60px 20px;
  }
  @include respond-to($tablet-md) {
    font-size: 30px;
    padding: 80px 20px;
  }
  @include respond-to($tablet-lg) {
    font-size: 34px;
    padding: 100px 20px;
  }
  @include respond-to($desktop-sm) {
    font-size: 40px;
  }
  a {
    color: $primary;
    display: inline-block;
    cursor: pointer;
    margin-top: 20px;
    &:hover {
      color: grey;
      text-decoration: none;
    }
  }
}
