<div class="home-wrapper">
  <!-- Hero -->
  <div class="hero-wrapper test">
    <div class="overlay">
      <div class="hero-text">
        Hey there, I'm Joe Parsley, and I'm a front-end Web Developer living in Portland, OR.
      </div>
    </div>
  </div>
  <!-- Projects -->
  <div class="project-wrapper">
    <!-- Project Header -->
    <div class="project-header">
      Recent Projects:
    </div>
    <!-- Project Grid and Cards -->
    <div class="project-grid">
      <div class="project-card-wrapper" *ngFor="let card of cardData">
        <div class="card" [style.background-image]="'url(' + card.bg +')'">
          <div class="overlay-content">
            <div class="card-header">{{card.header}}</div>
            <div class="card-content">{{card.description}}</div>
            <div class="card-action">
              <a  *ngFor="let btn of card.buttons"
                  class="card-btn"
                  href="{{btn.href}}" 
                  matTooltip="{{btn.toolTip}}"
                  aria-label="Button that displays a tooltip when focused or hovered over">
                <i class="{{btn.class}}"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Skills -->
  <div class="skill-wrapper">
    <!-- Skills Header -->
    <div class="skill-header">
      Skills:
    </div>
    <!-- Skills Grid and content -->
    <div class="skill-grid">
      <div class="skill-section" *ngFor=" let skill of skillData">
        <div class="skill-content-header">{{skill.header}}</div>
        <div class="skill-content">
          <div class="skill-item" *ngFor=" let item of skill.items">
            <i class="{{item.class}} skill-icon"></i>
            <div class="skill-text">{{item.text}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- About me Section -->
  <div class="about-me-wrapper">
    <div class="about-overlay">
      <div class="about-header">A little bit about me...</div>
      <div class="about-me-content">
        <img class="about-img" src="../../../assets/joe.jpg" alt="Joe Parsley"/>
        <div class="about-bio">
            Born and raised in Oregon, Joe enjoys all of the amazing things the Pacific Northwest has to offer. He's all about everything nerdy and has a profound love for designing and programing. Being able to take someone's idea and turn it into a virtually physical piece of art that can be enjoyed on any screen is what keeps Joe going. When he's not programing or designing, you can find Joe playing DnD, jamming with his band, hiking or backpacking with his friends.
        </div>
      </div>
    </div>
  </div>
  <!-- Contact Section -->
  <div class="contact-wrapper">
    <div>Need help with that next big project?</div>
    <a href="mailto:joewparsley@gmail.com">Let's talk about it!</a>
  </div>
</div>
