<div class="home-wrapper">
  <!-- Hero -->
  <div class="hero-wrapper">
    <div class="overlay">
      <div class="hero-text">
        Hey there, I'm Joe Parsley, and I'm a front-end Web Developer living in Portland, OR.
      </div>
    </div>
  </div>
  <!-- Projects -->
  <div class="project-wrapper">
    <!-- Project Header -->
    <div class="project-header">
      Recent Projects
    </div>
    <!-- Project Grid and Cards -->
    <div class="project-grid">
      <div class="project-card">
        <div class="test"></div>
      </div>
      <div class="project-card">
        <div class="test"></div>
      </div>
      <div class="project-card">
        <div class="test"></div>
      </div>
      <div class="project-card">
        <div class="test"></div>
      </div>
    </div>
  </div>

  <div class="skills-wrapper">
    skills
  </div>

  <div class="about-me-wrapper">
    about me
  </div>

  <div class="contact-wrapper">
    contact
  </div>

</div>
